basePath: /certifications/api/v1
definitions:
  main.Certs:
    properties:
      category:
        type: string
      company:
        type: string
      date:
        type: string
      id:
        type: string
      link:
        type: string
      skills:
        type: string
      title:
        type: string
    type: object
host: container-app-ilm34snayo7qw.politeplant-0cb21c20.australiaeast.azurecontainerapps.io
info:
  contact: {}
  description: Patrick's website API for Certification listings
  title: Certification Listings API
  version: "1.0"
paths:
  /cert/{key}/{value}:
    get:
      consumes:
      - application/json
      description: Get a certification by a certain key & value
      parameters:
      - description: Select Category for Search
        enum:
        - id
        - category
        - company
        in: path
        name: key
        required: true
        type: string
      - description: Select Category for Search
        example: Microsoft
        in: path
        name: value
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/main.Certs'
      summary: Show a Specified Cert
      tags:
      - Certifications
  /certs:
    get:
      consumes:
      - application/json
      description: List all current Certifications by Patrick
      parameters:
      - description: Top results
        example: 3
        in: query
        name: top
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/main.Certs'
      summary: Show Certification Listings
      tags:
      - Certifications
swagger: "2.0"
